NET "a<3>" LOC = P134;
NET "a<2>" LOC = P137;
NET "a<1>" LOC = P138;
NET "a<0>" LOC = P139;
NET "b<3>" LOC = P140;
NET "b<2>" LOC = P141;
NET "b<1>" LOC = P142;
NET "b<0>" LOC = P143;
NET "agtb" LOC = P61;