NET "sw<7>" LOC = P134;
NET "sw<6>" LOC = P137;
NET "sw<5>" LOC = P138;
NET "sw<4>" LOC = P139;
NET "sw<3>" LOC = P140;
NET "sw<2>" LOC = P141;
NET "sw<1>" LOC = P142;
NET "sw<0>" LOC = P143;
NET "an<3>" LOC = P112;
NET "an<2>" LOC = P111;
NET "an<1>" LOC = P127;
NET "an<0>" LOC = P126;
NET "sseg<7>" LOC = P123;
NET "sseg<6>" LOC = P116;
NET "sseg<5>" LOC = P114;
NET "sseg<4>" LOC = P117;
NET "sseg<3>" LOC = P118;
NET "sseg<2>" LOC = P119;
NET "sseg<1>" LOC = P121;
NET "sseg<0>" LOC = P115;
NET "btn<1>" LOC = P132;
NET "btn<0>" LOC = P131;
NET "clk" LOC = P21;